.full{
    width: 100%;
}

.full_h{
    height: 280px;
}

.full_h-250{
    height: 170px;
}

.head_image{
    width: 280px;
    height: 250px;
}

.carousel-indicators{
    justify-content: left;
    margin-left: 5%;
}


.carusel-text{
    margin-left: 4%;
}

.btn-hover:hover{
    background-color: #6ebb20;
}

.dark-blue {
    color: #2e384d;
}

.bg-dark-blue{
    background-color: #2e384d;
}

.col-md {
    line-height: 1.2;
}

.emanet-btn-hover:hover{
    background-color: #708390;
    opacity: 0.3;
    color: white !important;
    transition: 0.5s;
}

.emanetler-btn-lil:hover{
    background-color: #000000;
    border-color: rgba(255, 255, 255, 0);
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.darkgreen{
    color: #008000;
}

.lightgreen{
    color: #6ebb20;
}

table tr{
    border-bottom: 0.5px solid rgba(147, 147, 147, 0.5);
}

.text-size-small{
    font-size: 15px;
}

.text-size-smallest{
    font-size: 13px;
}

.text-size-large{
    font-size: 17px;
    font-weight: bold!important;
}

.text-size-largest{
    font-size: 24px;
    font-weight: 700;
}
.emanetvalyuta td{
    padding: 15px 40px!important;
    padding-left: 0%!important;
    font-weight: bold!important;
    font-size: 13px!important;
}

.button-emanet:focus{
    border-bottom: 4px solid #6ebb20;
    color: #1b2024!important;
}

.gray-color{
    color: #979CA8;
}

.bg-green:hover{
    color: #6ebb20;
}

.button-emanet{
    font-size: 13px;
    font-weight: 900;
    line-height: 1.71;
}

.bg-white{
    background-color: white!important;
}

.purplecolor{
    color: #551A8B;
}

.bg-lightgreen{
    background-color: #6ebb20;
}

tbody td {
    color: #6ebb20;
}

tbody td {
    padding: 15px 0px!important;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

tbody th{
    font-size: 18px;
    font-weight: 500;
}

.ayrubson{
    font-size: 20px;
    border-bottom: 2px solid rgba(147, 147, 147, 0.2)!important;
}

.button-element2:focus{
    border-bottom: 3px solid #6ebb20!important;
    color: #1b2024!important;
}

.buton{
    display: none;
    background-color: #b9b9b9;
}

.mycard:hover .buton{
    display: block;
}

.buton:hover{
    background-color: #2e384d;
    color: white;
}


.buttonHover:hover{
    background-color: #6ebb20;
    color: white;
    font-weight: 900;
}

.davamet-btn:hover{
    background-color: #202736;
    transition: 0.5s;
}

.BTNactive{
    background-color: #6ebb20;
    color: white;
}

.circle{
    border: 1px solid white;
    border-radius: 50%;
    color: white;
}