{% extends 'layout.html' %}
{% block content %}


<main >
    <section id="slider-section1">
    <div class="">
        <div class="slick1" style="height: 490px;">
            <div class="slide1" style="height: 100%;">
                <div class="d-flex align-items-center"> 
                    <div class="flex-grow-1 justify-content-evenly align-items-center"> 
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex justify-content-center mx-4 mt-5 flex-column">
                            <h3 class="text-white fs-1">Apple Pay indi Rabitəbank müştəriləri<br>üçün də aktivdir!</h3> 
                            <p class="text-white  mt-3 fs-4"></p>
                        
                        <ul class="buttons d-flex mt-5">
                            <li class="me-2">
                                <a class="slide-buttons1 " href="/apple-pay" title="Apple Pay indi Rabitəbank müştəriləri üçün də aktivdir!">Daha ətraflı</a>
                            </li>    
                        </ul> 
                    </div>
                    </div> 
                    </div> 
                    <img src="..\static\images\slider.webp" title="Apple Pay indi Rabitəbank müştəriləri üçün də aktivdir!" alt="Apple Pay indi Rabitəbank müştəriləri üçün də aktivdir!">
                    </div> 
            </div>

            <div class="slide1" style="height: 100%;">
                <div class="d-flex align-items-center"> 
                    <div class="flex-grow-1 justify-content-evenly align-items-center"> 
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex justify-content-center mx-4 mt-5 flex-column">
                            <h3 class="text-white fs-1">Nağd pul krediti üzrə kampaniya</h3> 
                            <p class="text-white  mt-3 fs-4">Krediti düz 12-dən vur!</p>
                        
                        <ul class="buttons d-flex mt-5">
                            <li class="me-2"><a class="slide-buttons1" href="" title="Nağd pul krediti üzrə kampaniya">Daha ətraflı</a></li>
                            <li class="me-2"><a class="slide-buttons1 " href="" title="Nağd pul krediti üzrə kampaniya">Sifariş et</a></li> 
                        </ul> 
                    </div>
                    </div> 
                    </div> 
                        <img src="..\static\images\sliderrrr.webp" title="Nağd pul krediti üzrə kampaniya" alt="Nağd pul krediti üzrə kampaniya"> 
                    </div> 
            </div>
             
            <div class="slide1" style="height: 100%;">
                <div class="d-flex align-items-center"> 
                    <div class="flex-grow-1 justify-content-evenly align-items-center"> 
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex justify-content-center mx-4 mt-5 flex-column">
                            <h3 class="text-white fs-1">Lombard krediti üzrə kampaniya</h3> 
                            <p class="text-white  mt-3 fs-4"></p>
                        
                        <ul class="buttons d-flex mt-5">
                            <li class="me-2">
                                <a class="slide-buttons1" href="lombard-krediti-uzre-kampaniya" title="Lombard krediti üzrə kampaniya">Daha ətraflı</a>
                            </li>   
                            <li class="me-2">
                                <a class="slide-buttons1" href="" title="Lombard krediti üzrə kampaniya" >Sifariş et</a>
                            </li> 
                        </ul> 
                    </div>
                    </div> 
                    </div> 
                    <img src="..\static\images\slider.webp" title="Lombard krediti üzrə kampaniya" alt="Lombard krediti üzrə kampaniya">
                    </div> 
            </div>

            <div class="slide1" style="height: 100%;">
                <div class="d-flex align-items-center"> 
                    <div class="flex-grow-1 justify-content-evenly align-items-center"> 
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex justify-content-center mx-4 mt-5 flex-column">
                            <h3 class="text-white fs-1">Faizsiz Avans</h3> 
                            <p class="text-white  mt-3 fs-4">Rabitəbankdan əməkhaqqı alanlara “Faizsiz avans”</p>
                        
                        <ul class="buttons d-flex mt-5">
                            <li class="me-2">
                                <a class="slide-buttons1 " href="/faizsiz-avans" title="Faizsiz Avans ">Daha ətraflı</a></li>
                            <li class="me-2">
                                <a class="slide-buttons1 " href="" title="Faizsiz Avans ">Sifariş et</a></li> 
                        </ul> 
                    </div>
                    </div> 
                    </div> 
                    <img src="..\static\images\esas slayd.webp" title="Faizsiz Avans " alt="Faizsiz Avans ">
                    </div> 
            </div>

            <div class="slide1" style="height: 100%;">
                <div class="d-flex align-items-center"> 
                    <div class="flex-grow-1 justify-content-evenly align-items-center"> 
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex justify-content-center mx-4 mt-5 flex-column">
                            <h3 class="text-white fs-1">Kartmane sifariş edin, çatdıraq!</h3> 
                            <p class="text-white  mt-3 fs-4">Banka gəlməyin</p>
                        
                        <ul class="buttons d-flex mt-5">
                            <li class="me-2"><a class="slide-buttons1 " href="" title="Kartmane sifariş edin, çatdıraq!">Daha ətraflı</a></li>
                            <li class="me-2"><a class="slide-buttons1" href="" title="Kartmane sifariş edin, çatdıraq!">Sifariş et</a></li> 
                        </ul> 
                    </div>
                    </div> 
                    </div> 
                        <img src="..\static\images\161322351_262194535538678_3450547117277045758_n.webp" title="Kartmane sifariş edin, çatdıraq!" alt="Kartmane sifariş edin, çatdıraq!"> 
                    </div> 
            </div>
          </div>
        </div>
    </section>
<div class="container d-flex flex-column">
    <section id="product-section1" class="mt-5">
           <ul class="product-cards1">
           <li class="card1">
            <img src="..\static\images\group-362x.webp" alt="Fərdi kreditlər" title="Fərdi kreditlər" width="102">
              <h4>Fərdi kreditlər</h4> 
              <p> <strong>12%</strong> <br> -dən başlayaraq </p>
              <a  class="card-link" href="/ferdi-kreditler" title="Fərdi kreditlər">Sifariş et →</a>
           </li> 
            <li class="card1">
                <img src="..\static\images\YYY_YYYYYYYY_8.webp" alt="Kartmane Debet" title="Kartmane Debet" width="102">
                <h4>Kartmane Debet</h4>
                <p> <strong>40%</strong> <br> -dək keşbek imkanı </p>
                <a class="card-link" href="/kartmane-debit" title="Kartmane Debet">Sifariş et →</a>
            </li> 
              <li class="card1">
                <img src="..\static\images\group-342x.webp" alt="Fərdi Əmanətlər" title="Fərdi Əmanətlər" width="102">
                <h4>Fərdi Əmanətlər</h4>
                <p> <strong>10.50%</strong> <br> -dək illik gəlir </p>
                <a class="card-link" href="/ferdi-emanetler" title="Fərdi Əmanətlər">Daha ətraflı</a>
              </li> 
            </ul> 
    </section>

    <section id="slider-section2" class="mt-5">
        <div class="slick2">
            <div class="slide2">
                <div class="d-flex"> 
                    <div class="flex-grow-1 justify-content-evenly align-items-center"> 
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex justify-content-center mx-4 mt-5 flex-column">
                            <h4 class=" ">Rabita Mobile</h4> 
                            <p class="  mt-3">Rabita Mobile ilə banka getməyə ehtiyac yoxdur, bankınız hər zaman yanınızdadır!</p>
                        
                        <ul class="buttons d-flex mt-5">
                            <li class="me-2">
                                <a class="slide-buttons2 " href="" title="Rabita Mobile">Daha ətraflı</a>
                            </li>   
                        </ul> 
                    </div>
                    </div> 
                    </div> 
                    <img src="..\static\images\33.webp" title="Rabita Mobile" alt="Rabita Mobile" class="">
                    </div> 
            </div>

            <div class="slide2">
                <div class="d-flex"> 
                    <div class="flex-grow-1 justify-content-evenly align-items-center"> 
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex justify-content-center mx-4 mt-5 flex-column">
                            <h4 class="">RabitaBot</h4> 
                            <p class=" mt-3">Azərbaycanın ilk maliyyə çatbotu!</p>
                        
                        <ul class="buttons d-flex mt-5">
                            <li class="me-2">
                                <a class="slide-buttons2 " href="" title="RabitaBot ">Daha ətraflı</a></li>
                        </ul> 
                    </div>
                    </div> 
                    </div> 
                    <img src="..\static\images\11.webp" title="RabitaBot" alt="RabitaBot" class="">
                    </div> 
            </div>

            <div class="slide2">
                <div class="d-flex"> 
                    <div class="flex-grow-1 justify-content-evenly align-items-center"> 
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex justify-content-center mx-4 mt-5 flex-column">
                            <h4 class="">İnternet Bankçılıq</h4> 
                            <p class="  mt-3 ">Hesablarınızı idarə etmək rahatdır!</p>
                        
                        <ul class="buttons d-flex mt-5">
                            <li class="me-2">
                                <a class="slide-buttons2" href="" title="İnternet Bankçılıq">Daha ətraflı</a></li>
                        </ul> 
                    </div>
                    </div> 
                    </div> 
                        <img src="..\static\images\22.webp" title="İnternet Bankçılıq" alt="İnternet Bankçılıq" class="">
                    </div> 
            </div>
          </div>

    </section>

    <section id="product-section2" class="mt-5">
        <ul class="product-cards2 d-flex justify-content-between">
            <li class="card2">
                <a href="">
                <img src="..\static\images\deposit card@2x.webp" alt="Kartmane" title="Kartmane">
                <span  class="span1"></span>
                <div class="card-bottom">
               <p class="card-title">Kartmane</p>
               <h4>“Kartmane” ilə üstünlüklərlə yaşa</h4> 
               <p class="p-bottom">"Kartmane"nin üstünlükləri ilə yaşayın <br></p>
            </div>
            </a>
            </li> 
             <li class="card2">
                 <a href="">
                <img src="..\static\images\group-32@2x.webp" alt="BİZNES" title="BİZNES">
                <span class="span2"></span>
                <div class="card-bottom">
                <p class="card-title">BİZNES</p>
                 <h4>Kənd Təsərrüfatı kreditləri</h4>
                 <p class="p-bottom">Kənd təsərrüfatı kreditləri ilə <br> işinizə dəyər qatın</p>
                </div>
            </a>
             </li> 
               <li class="card2">
                <a href="">
                <img src="..\static\images\group-31@2x.webp" alt="RABİTABOT" title="RABİTABOT">     
                <span class="span3"></span>
                <div class="card-bottom"> 
                <p class="card-title">RABİTABOT</p> 
                <h4>Dostlarınla hesabı alman üsulu böl!</h4> 
                <p class="p-bottom">RabitaBot ilə hesabı dostların arasında <br> rahatlıqla bölə bilərsiniz</p> 
               </div>
                </a>
               </li> 
             </ul> 

    </section>

    <section id="credit-calculator" class="mt-5">
        <h3>Nağd pul krediti 12%-dən</h3>
        <form action="" method="POST" id="creditCalculator">
            <ul class="calculator py-4 d-flex justify-content-between">
                <li class="bg-white border border-1 rounded border-bottom-0 w-50 me-3"><label for="range1"
                        class="form-label px-3 pt-1"><span class="text-muted">Müddət (ay)</span><br><span id="month">3</span>
                        ay</label><br>
                    <input type="range" class="form-range h-0" min="3" max="36" step="1" id="range1">
                </li>
                <li class="bg-white border  border-1 rounded border-bottom-0 w-50 me-3"><label for="range2"
                        class="form-label px-3 pt-1"><span class="text-muted">Kredit məbləği</span><br><span class="democredit" id="amount">10000</span>
                        AZN</label><br>
                    <input type="range" class="form-range calcange" min="300" max="20000" step="1" id="range2">
                </li>
                <li class="bg-white border border-1 rounded border-bottom-0 w-50 "><label for="range3"
                        class="form-label px-3 pt-1"><span class="text-muted">Faiz dərəcəsi
                            (illik)</span><br><span class="democredit" id="percent">12</span> %</label><br>
                    <input type="range" class="form-range calcange" min="12" max="30" step="0.1" id="range3">
                </li>
            </ul>
            <hr>
            <ul class="calc-result d-flex justify-content-between py-4">
                <li>
                    <h5>Ümumi məbləğ</h5>
                    <p id="total_amount"><span>1020.00</span></p>AZN
                </li>
                <li>
                    <h5>Faiz məbləği</h5>
                    <p id="percent_amount"><span>20.00</span></p>AZN
                </li>
                <li>
                    <h5>Aylıq ödəniş</h5>
                    <p id="monthly_payment"><span>340.00</span></p>AZN
                </li>
                <li>
                    <a type="submit" href="" class="calc-btn text-white">Sifariş et →</a>
                </li>
            </ul>
        </form>
    </section>

    <section id="currency-section" class="mt-5">
        <div class="container d-flex">
            <div class="currency_left_side w-50 me-5"> 
                <ul class="d-flex justify-content-between">
                    <li>
                        <h3 class="text-muted fs-5">Valyuta</h3>
                        <ul class="">
                            <li class="curr_382 my-3 fs-4">GBP</li>
                            <li class="curr_384 my-3 fs-4">EUR</li>
                            <li class="curr_385 my-3 fs-4">USD</li> 
                        </ul>
                    </li>
                    <li>
                        <h3 class="text-muted fs-5">Alış</h3>
                        <ul id="" class="buyingRates"> 
                            <li class=" d-flex my-3">
                                <p class="currency fs-4"></p><img src="..\static\images\icons8-arrow-down-58.png" alt="" class="w-25"></li> 
                                <li class="d-flex my-3">
                                    <p class="currency fs-4"></p><img src="..\static\images\icons8-arrow-down-58.png" alt="" class="w-25"></li> 
                                <li class="d-flex my-3">
                                    <p class="currency fs-4"></p><img src="..\static\images\icons8-arrow-down-58.png" alt="" class="w-25">
                                </li>  
                                </ul>
                    </li>
                    <li>
                        <h3 class="text-muted fs-5">Satış</h3>
                        <ul id="" class="sellingRates"> 
                            <li class="d-flex my-3">
                                <p class="currency fs-4">{{gbp}}</p><img src="..\static\images\icons8-arrow-down-58.png" alt="" class="w-25"></li> 
                            <li class="d-flex my-3">
                                    <p class="currency fs-4">{{ eur}}</p><img src="..\static\images\icons8-arrow-down-58.png" alt="" class="w-25"></li> 
                            <li class="d-flex my-3">
                                    <p  class="currency fs-4">{{usd}}</p><img src="..\static\images\icons8-arrow-down-58.png" alt="" class="w-25"></li>  
                        </ul>
                    </li>
                </ul>
                <hr>
                <div class="d-flex flex-column"> 
                    <p class="text-muted fs-5">Yeniləndi: <span class="text-dark">{{updated}}</span></p> 
                    <p class="additional_info text-muted fs-6 mt-3"><img src="..\static\images\icons8-info-24.png" alt="" class="">   Hal-hazırda bankımızda müvəqqəti olaraq rus rublunun nağd alışı və satışı həyata keçirilmir.</p> 
                </div>
        </div>
        <div class="currency_right_side container-fluid bg-white border border-2 rounded-1 ms-5 w-50 shadow-lg">
            <form action="" method="POST">
                <div class="container">
                    <h3 class="my-3 fs-5">Valyuta kalkulyatoru</h3>
                    <ul class="d-flex w-50 justify-content-between">
                        <li>
                            <select id="cash-card" class="form-select text-secondary" aria-label="" onclick="cashVsCard(this.value)">
                                <option value="Nağd" class="text-dark" >Nağd</option>
                                <option value="Nağdsız" class="text-dark" >Nağdsız</option>
                              </select>
                        </li>
                        <li>
                            <select id="buy-sell" class="form-select text-secondary" aria-label="" onclick="buyVsSell(this.value)">
                            <option value="Alış" class="text-dark">Alış</option>
                            <option value="Satış" class="text-dark">Satış</option>
                          </select>
                        </li>
                    </ul>
            
                    <ul class="mt-5">
                        <li class="currency_type d-flex mb-3 pb-3 border-bottom"> 
                            <input id="convert_rate" type="number" min="1" class="form-control border-0 fs-4" value="" oninput="changeResult(this.value)" > 
                            <select id="convert_from" class="form-select w-25 border-0 fs-4 " data-placeholder="₼" onchange="changeCurrency1()"> 
                                <option value="azn" >₼</option> 
                                <option value="gbp">£</option>
                                <option value="eur">€</option>
                                <option value="usd">$</option>                 
                            </select>
                            
                          <li class="currency_type d-flex mt-3">
                            <input type="number" class="form-control bg-white border-0 fs-4" value="" readonly id="convert_result"> 
                            <select id="convert_to" class="form-select w-25 border-0 fs-4" onchange="changeCurrency2()"> 
                                <option value="azn" disabled="disabled">₼</option>
                                <option value="gbp" >£</option> 
                                <option value="eur" >€</option>
                                <option value="usd">$</option>                       
                            </select>
                          </li>
                    </ul>   
                </div>
            </form>
        </div>
    </section>


    <section id="news_announcements" class="my-5 py-5">
        <div class="d-flex justify-content-between pb-1">
            <h4 class="fw-bolder fs-3">Xəbərlər və elanlar</h4>
            <a href="/xeberler-ve-elanlar" class="text-success fw-normal fs-5">Daha çox</a>
        </div>
        <hr>
        <ul class="mt-3 d-flex">
            {% for recent in recent_news %}
            <li class="me-3"> 
                <a href="{{recent.id}}" title="{{recent.title}}"> 
                    <span class="text-success">{{ recent.date}}</span> 
                    <h4 class="text-dark mt-3 fs-5">{{recent.title}}</h4> 
                    <p></p> </a> 
            </li>
            {% endfor %}
        </ul>

    </section>
</div>
</main>





{% endblock %}